:root {
    --bgc: #FFFFFF;
    --text: #232323;
    --shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.37);
    --dark-bgc: #232323;
    --dark-text: #FFFFFF;
}

[theme="dark"] {
    --bgc: #232323;
    --text: #FFFFFF;
    --shadow: 0px 1px 10px 0px rgba(121, 121, 121, 0.37);
    --dark-bgc: #FFFFFF;
    --dark-text: #232323;
}