.about {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bgc);
}

.about-container {
    width: 70%;
}

.about-title {
    font-size: 100px;
    margin-bottom: 20px;
    color: var(--text);
}

.about-subtitle {
    font-size: 50px;
    color: var(--text);
}

.about-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--text);
}

.about-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about-item-img {
    width: 15px;
    height: 15px;
}

.about-item-title, .about-item-data {
    font-size: 20px;
    color: var(--text);
}

.about-experience-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

.about-skills-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 50px;
    padding: 30px;
}

.about-skills-item {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    font-size: 20px;
    color: var(--text);
}

.about-skills-item svg {
    width: 100px;
    height: 100px;
}

.about-skills-item svg:hover {
    transition: all 0.1s;
    transform: scale(1.5);
}

.about-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text);
}