.contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    min-width: 50%;
    max-width: 70%;
    padding: 30px;
    box-shadow: 0px 0px 2px 2px;
}

.contact-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contact-input {
    width: 60%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
}

.message-contact-input {
    width: 60%;
    height: 200px;
    padding: 10px;
    font-size: 20px;
}

.contact-btn {
    width: 60%;
    height: 50px;
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.contacts {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}