.header {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.header-container {
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.37);
    border-radius: 20px;
}

.header-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95px;
    cursor: pointer;
    background-color: #232323;
    color: white;
    border-radius: 15px;
    padding: 5px;
}

.header-item svg {
    width: 20px;
    height: 20px;
}

.header-item-text {
    font-size: 20px;
}