.header {
    margin-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.header-container {
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 1px 10px 0px rgba(34, 60, 80, 0.37);
    border-radius: 20px;
}

.header-item {
    cursor: pointer;
}

.header-item svg {
    width: 15px;
    height: 15px;
}

.header-item-text {
    font-size: 20px;
}