.header {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    background-color: var(--bgc);
}

.header-container {
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    box-shadow: var(--shadow);
    border-radius: 20px;
    background-color: var(--bgc);
}

.header-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95px;
    cursor: pointer;
    background-color: var(--dark-bgc);
    color: var(--dark-text);
    border-radius: 15px;
    padding: 5px;
}

.header-item svg {
    width: 20px;
    height: 20px;
}

.header-item-text {
    font-size: 20px;
    color: var(--dark-text);
}