.home {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.home-left-container {
    width: 50%;
}

.home-title {
    font-size: 100px;
    margin-bottom: 20px;
}

.home-subtitle {
    font-size: 50px;
    margin-bottom: 10px;
}

.home-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.home-live-container {
    margin-bottom: 10px;
}

.home-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.home-contact-btn {
    height: 45px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.home-cv-btn {
    height: 45px;
    border: 3px solid #000000;
    border-radius: 8px;
    padding: 10px;
}

.footer-line {
    width: 70%;
    height: 1px;
    background-color: #000000;
    margin-bottom: 20px;
}

.home-right-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.home-img {
    width: 500px;
    height: 500px;
}